# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=lawyerlink_db
DB_USER=root
DB_PASSWORD=

# JWT
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# AI
AI_API_KEY=

# CORS
ALLOWED_ORIGINS=http://localhost:5173