DATABASE_URL=mysql+pymysql://root:<PASSWORD>@localhost:3306/lawyerlink_db

# JWT
SECRET_KEY="secret_key"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# AI
MODEL="gemini"
GEMINI_API_KEY=


# CORS
ALLOWED_ORIGINS=http://localhost:5173


#STRIPE how to get the secrite keys : https://docs.stripe.com/stripe-cli/install?install-method=windows and https://stripe.com/
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=mad
STRIPE_TEST_MODE=true